*.log
wp-config.php

/.htaccess

.idea/
project/wordpress/
vendor/

!project/wp-content/
project/wp-content/*

!project/wp-content/plugins
project/wp-content/plugins/*

!project/wp-content/themes
project/wp-content/themes/*

!project/wp-content/index.php
!project/wp-content/plugins/index.php
!project/wp-content/themes/index.php
local-config.php
